<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class=" navbar-brand " href="# ">Prueba técnica</a>
    <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarNavAltMarkup " aria-controls="navbarNavAltMarkup " aria-expanded="false " aria-label="Toggle navigation ">
    <span class="navbar-toggler-icon "></span>
  </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup ">
        <div class="navbar-nav ">
            <!-- <a class="nav-link active " href="/">Home <span class="sr-only ">(current)</span></a> -->
            <a class="nav-link" [routerLink]="['/map']">Mapa</a>
            <a class="nav-link " [routerLink]="['/home']">Nuevo registro</a>
            <a class="nav-link " [routerLink]="['/algoritmo']">Algoritmo</a>

        </div>
    </div>
</nav>